
.section-contact{
    border: 7px #111 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-contact .article-email{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-contact .div-container{
    border: 7px #111 solid;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 100%; /* Cambia el ancho según tus necesidades */
    margin-top: 10%;
    margin-bottom: 10%;
}

.section-contact .div-container article{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}












img{
    width: 100px;
    height: 100px;
}