<section id="contact" class="section-contact">

            <div class="body-infContact">
                <h2 class="title">Contactame!</h2>
                <article class="article-email">
                    <img src="assets/email.png" alt="">
                    <div>
                        <h2>marcoscorasaniti07 <img class="img-email" src="assets/arroba.png"> gmail.com</h2>
                    </div>
                </article>

                <div class="div-container">
                    <article>
                        <a href="https://www.linkedin.com/in/marcoscorasaniti/" target="_blank">
                            <img src="assets/logotipo-de-linkedin.png" alt="">
                            <div>
                                <h3>Marcos Agustin Corasaniti</h3>
                            </div>
                        </a>
                    </article>

                    <article>
                        <a href="https://github.com/marcosCora" target="_blank">
                            <img src="assets/github.png" alt="">
                            <div>
                                <h3>marcosCora</h3>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
</section>