<section class="section-container">
  <h2 class="tittle">Sobre mí</h2>
  <div class="div-container">
    <div class="text-container">
      <p>
        Mi nombre es Marcos Agustín Corasaniti, tengo 22 años. Estoy a una
        materia de graduarme como Técnico Universitario en Programación en la
        Universidad Tecnológica Nacional (UTN). Durante mi tiempo incursionando
        en el mundo de la programación, he adquirido habilidades prácticas en
        desarrollo backend con Java Spring Boot, bases de datos MySQL y en
        desarrollo frontend con Angular, TypeScript/JavaScript, HTML y CSS.
        Además, tengo experiencia utilizando Git/GitHub y he aprendido a
        trabajar en equipos multidisciplinarios con metodologías ágiles.
      </p>
      <br>
      <p>
        Estoy constantemente buscando nuevos desafíos y oportunidades para
        aprender y crecer como desarrollador. Mi objetivo es aplicar mis
        conocimientos y habilidades para crear soluciones innovadoras que
        generen un impacto positivo.
      </p>

      <label class="label-inf" for="more-information">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="list_icon"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
          />
        </svg>
      </label>
  
      <input type="checkbox" class="check-inf" id="more-information">

    </div>
    <div class="technologies-contaiern">
      <h3 class="tittle-technologies">Tecnologias y Herramientas</h3>
      <div class="icons-container">
        <img class="icons" src="../../../assets/Icons/angular.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/typescript.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/spring.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/java.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/html5.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/css.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/javascript.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/mysql.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/c.svg" alt="" />
      </div>
      <!-- <h3 class="tittle-technologies">Herramientas</h3> -->
      <div class="icons-container">
        <img class="icons" src="../../../assets/Icons/vscode.svg" alt="" />
        <img
          class="icons"
          src="../../../assets/Icons/intellijidea.svg"
          alt=""
        />
        <img class="icons" src="../../../assets/Icons/git.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/github-dark.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/postman.svg" alt="" />
        <img class="icons" src="../../../assets/Icons/atlassian.svg" alt="" />
      </div>
    </div>
  </div>
</section>
