

<section class="section-container">
  <h2>Sobre Mi</h2>
  <div>
    <div class="text-container">
        <p>I'm Israel Gonzalez, I'm 27 years old, I currently work independently as a fullstack, UX|UI designer and video game designer.

        I currently have a video game studio where I spend my time mixing ideas from all my work to generate quality stories that everyone can enjoy.</p>
    </div>
    <div class="technologies-contaiern">
        <h3>Tecnologias</h3>
        <div>
            <img class="icons" src="../../../assets/Icons/angular.svg" alt="">
            <img class="icons" src="../../../assets/Icons/typescript.svg" alt="">
            <img class="icons" src="../../../assets/Icons/spring.svg" alt="">
            <img class="icons" src="../../../assets/Icons/java.svg" alt="">
            <img class="icons" src="../../../assets/Icons/html5.svg" alt="">
            <img class="icons" src="../../../assets/Icons/css.svg" alt="">
            <img class="icons" src="../../../assets/Icons/javascript.svg" alt="">
            <img class="icons" src="../../../assets/Icons/mysql.svg" alt="">
            <img class="icons" src="../../../assets/Icons/c.svg" alt="">
        </div>
        <h3>Herramientas</h3>
        <div>
            <img class="icons" src="../../../assets/Icons/vscode.svg" alt="">
            <img class="icons" src="../../../assets/Icons/intellijidea.svg" alt="">
            <img class="icons" src="../../../assets/Icons/git.svg" alt="">
            <img class="icons" src="../../../assets/Icons/github-dark.svg" alt="">
            <img class="icons" src="../../../assets/Icons/postman.svg" alt="">
            <img class="icons" src="../../../assets/Icons/atlassian.svg" alt="">
        </div>
        
    </div>
  </div>
</section>
