

<section id="projects" class="projects-section">

    <div class="projects-container">
        <img src="../../../assets/proyects/sipbites.png" alt="">
        <div class="info-projects">
            <h2>Proyecto final UTN</h2>
            <p>Como proyecto final de la tecnicatura, realicé en equipo un proyecto WEB desarrollado en Angular. 
                En este blog, podés descubrir recetas geniales de comidas y cócteles de dos APIs diferentes. 
                Te permite iniciar sesión para guardar tus recetas favoritas, comentar y hasta crear tus propias recetas. 
                La APP consume 2 APIS gratuitas, una es "The cocktail DB" para las bebidas y otra es "The meal DB" para las comidas.
            </p>
        </div>
        <div class="technologies-container">

        </div>
        <button>Respositorio</button>

    </div>

 

</section>

