
<section id="projects" class="section-projects">

    <h2 class="title">Proyectos Tecnicos</h2>


        <article class="article-proyects">

            <div class="container-imgProjects">
                <img class="img-projects" src="assets/proyects/imgSipAndBites.PNG" alt="">
            </div>

            <div class="container-infProjects">
                <h2>BLOG DE RECETAS</h2>
                
                <p>Como proyecto final de la tecnicatura realizamos en equipo un proyecto WEB desarrollado en Angular. En este blog, puedes descubrir recetas geniales de comidas y cócteles de dos APIs diferentes.</p>
                
                <p>Te permite iniciar sesión para guardar tus recetas favoritas, comentar y hasta crear tus propias recetas.</p>

                <p>La APP consume 2 APIS gratuitas una es "The cocktail DB" para las bebidas y otra es "The meal DB" para las comidas.</p>

                <div class="buttons-container">
                    <button class="button">Visualizacion</button>
                    <button class="button">Repositorio</button>
                </div>
            </div>

        </article>

        <article class="article-proyects">

            <div class="container-imgProjects">
                <img class="img-projects" src="assets/proyects/imgSipAndBites.PNG" alt="">
            </div>

            <div class="container-infProjects">
                <h2>BLOG DE RECETAS</h2>
                
                <p>Como proyecto final de la tecnicatura realizamos en equipo un proyecto WEB desarrollado en Angular. En este blog, puedes descubrir recetas geniales de comidas y cócteles de dos APIs diferentes.</p>
                
                <p>Te permite iniciar sesión para guardar tus recetas favoritas, comentar y hasta crear tus propias recetas.</p>

                <p>La APP consume 2 APIS gratuitas una es "The cocktail DB" para las bebidas y otra es "The meal DB" para las comidas.</p>

                <div class="buttons-container">
                    <button class="button">Visualizacion</button>
                    <button class="button">Repositorio</button>
                </div>
            </div>

        </article>

</section>
