<section id="projects" class="projects-section">
  <h2>Experiencias y Proyectos</h2>
  <div class="div-container">
    <div class="projects-container">
      <img class="img-project" src="../../../assets/proyects/sipbites.png" alt="" />
      <div class="info-projects">
        <div class="text-container">
          <h2>Blog sobre comidas y bebidas</h2>
          <p>
            Desarrollamos en equipo una aplicación web que funciona como
            un blog de comidas y bebidas, permitiendo a los
            usuarios interactuar con contenido variado y
            gestionar sus cuentas. Proyecto utilizado para una materia de la universidad.

          </p>
        </div>
        <div class="img-container">
          <div class="technologies-container">
            <img class="img-technologies" src="../../../assets/Icons/angular.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/typescript.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/html5.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/css.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/angular.svg" alt="">
          </div>
          <button>Respositorio</button>
        </div>
      </div>
    </div>

    <div class="projects-container">
      <img class="img-project" src="../../../assets/proyects/sipbites.png" alt="" />
      <div class="info-projects">
        <div class="text-container">
          <h2>Blog sobre comidas y bebidas</h2>
          <p>
            Desarrollamos en equipo una aplicación web que funciona como
            un blog de comidas y bebidas, permitiendo a los
            usuarios interactuar con contenido variado y
            gestionar sus cuentas. Proyecto utilizado para una materia de la universidad.

          </p>
        </div>
        <div class="img-container">
          <div class="technologies-container">
            <img class="img-technologies" src="../../../assets/Icons/angular.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/typescript.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/html5.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/css.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/angular.svg" alt="">
          </div>
          <button>Respositorio</button>
        </div>
      </div>
    </div>

    <div class="projects-container">
      <img class="img-project" src="../../../assets/proyects/sipbites.png" alt="" />
      <div class="info-projects">
        <div class="text-container">
          <h2>Blog sobre comidas y bebidas</h2>
          <p>
            Desarrollamos en equipo una aplicación web que funciona como
            un blog de comidas y bebidas, permitiendo a los
            usuarios interactuar con contenido variado y
            gestionar sus cuentas. Proyecto utilizado para una materia de la universidad.

          </p>
        </div>
        <div class="img-container">
          <div class="technologies-container">
            <img class="img-technologies" src="../../../assets/Icons/angular.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/typescript.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/html5.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/css.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/angular.svg" alt="">
          </div>
          <button>Respositorio</button>
        </div>
      </div>
    </div>

    <div class="projects-container">
      <img class="img-project" src="../../../assets/proyects/sipbites.png" alt="" />
      <div class="info-projects">
        <div class="text-container">
          <h2>Blog sobre comidas y bebidas</h2>
          <p>
            Desarrollamos en equipo una aplicación web que funciona como
            un blog de comidas y bebidas, permitiendo a los
            usuarios interactuar con contenido variado y
            gestionar sus cuentas. Proyecto utilizado para una materia de la universidad.

          </p>
        </div>
        <div class="img-container">
          <div class="technologies-container">
            <img class="img-technologies" src="../../../assets/Icons/angular.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/typescript.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/html5.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/css.svg" alt="">
            <img class="img-technologies" src="../../../assets/Icons/angular.svg" alt="">
          </div>
          <button>Respositorio</button>
        </div>
      </div>
    </div>
   
  </div>
</section>