
 <div class="nav-component">
  <app-nav-bar class="nav-bar" (sectionClicked)="scrollToSection($event)">
  </app-nav-bar>
</div> 

<main class="main">
  <div class="container-component">
    <app-profile></app-profile>
  </div>

  <div class="container-component">
    <app-skills id="skills"></app-skills>
  </div>
  <div class="container-component">
    <app-projects id="projects"></app-projects>
  </div>

  <div class="container-component">
    <app-contact id="contact"></app-contact>
  </div>
</main>
