
<header class="header">
    <span class="nav-name">Marcos Corasaniti</span>
    <nav>
        <ul class="nav-links">
            <!-- <li><a routerLink="/skills" routerLinkActive="active" ariaCurrentWhenActive="page">Aptitudes</a></li> -->
            <li><a (click)="onClick('skills')">Aptitudes</a></li>
            <li><a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Proyectos</a></li>
            <li><a routerLink="/skills" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a></li> 
        </ul>
    </nav>
</header>

