
.header{
    background-color: #27323E;  
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    margin: 0;
    width: 100%;
    position: fixed;
    font-family: "Roboto", sans-serif;
}

/* .header .nav-name{
    font-family: 'Oswald', sans-serif;
    color: #F0F4CD;
    flex-grow: 1;
    align-items:flex-start;
    font-size: 35px;
    margin-left: 3%;
} */

.header nav{
    flex-grow: 1;
}

.header .nav-links{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 7%;
}

.header .nav-links a{
    
    color: #FFFFFF; 
    font-size: 25px;
    text-decoration: none;
    transition: .5s;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

 .header .nav-links li a:hover {
    color: #AAAE8A; 
} 
