

<section class="section-profile">
    <div class="information">
        <div class="tittle">
            <h1 class="name">Corasaniti Marcos</h1>
            <p class="description">Programador Full-Stack | Técnico Universitario en Programación </p>
        </div>
        <div class="inf">
            <div class="container-logo">
             <a href="https://www.linkedin.com/in/marcoscorasaniti/" target="_blank"><img src="../../../assets/Icons/linkedin.svg" alt=""></a>
            </div>
            <div class="container-logo">
                <a href="https://github.com/marcosCora/" target="_blank"><img src="../../../assets/Icons/github-light.svg" alt=""></a>
            </div>
        </div>
        <button class="button">Descarga CV</button>
    </div>
    <div class="img">
        <img src="../../../assets/foto.jpg" alt="">
    </div>

</section>


