
.section-profile{
  display: flex;
  flex-direction: row;
  justify-content: center;
   flex-wrap: wrap;  
  height: 86vh;
}

.section-profile .div-img{
  margin: auto;
  margin-right: 7%;
  flex-grow: 0;
  flex-shrink: 1;

}

.section-profile .div-inf{
  margin: auto;
  display: flex;
  width: 45%; 
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  flex-grow: 0;
  flex-shrink: 1;

}


 
 .h3-name{
     font-size: 40px; 
     font-weight: bolder;
     margin: 15px;
 }
 
  
  .section-profile .div-img img{
     height: 400px;
     width: 400px;
     border: 7px solid #464838;
     border-radius: 50%;
     
 }

 .button-cv {
  margin: 4%;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #495057;
  color: #495057;
}
.button-cv:hover {
  color: #000000;
}
.button-cv:hover:after {
  width: 100%;
}
.button-cv:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #F0F4CD;
} 

@media only screen and (max-width: 768px) {
  .section-profile {
      flex-direction: column; /* Cambia la dirección a columna en pantallas más pequeñas */
      height: auto; /* O ajusta según sea necesario */
  }

  .section-profile .div-img {
      margin-right: 0; /* Elimina el margen derecho en pantallas más pequeñas */
  }
  .section-profile .div-img {
    margin: auto; /* Centra la imagen */
        margin-bottom: 10px; /* Ajusta según sea necesario */
    
}

  .section-profile .div-img img{
    height: 300px;
    width: 300px;
    
}

  .section-profile .div-inf {
      width: 100%; /* O ajusta según sea necesario */
  }
  }
 