<section class="section-profile">
    <div class="div-img">
        <img src="assets/fotoCV.jpg">
    </div>
    <div class="div-inf">
        <h5>Soy un</h5>
        <h3 class="h3-name">Tecnico Universitario En Programacion</h3>
        <p>con sólidas habilidades en el desarrollo front-end, especializado en Angular. Apasionado por crear experiencias web atractivas y funcionales que fusionan la elegancia del diseño con la eficiencia del código.</p>
        <a href="https://drive.google.com/file/d/1AB8UNmD3SM7Qe6IPXY2g_Yduc1cIyrJ-/view?usp=sharing" target="_blank"><button class="button-cv">Descarga CV</button></a>
    </div>

</section>
 