<section class="section-profile">
    <div class="div-img">
        <img src="assets/fotoCV.jpg">
    </div>
    <div class="div-inf">
        <h5>Soy un</h5>
        <h3 class="h3-name">Tecnico Universitario En Programacion</h3>
        <p>con sólidas habilidades en el desarrollo front-end, especializado en Angular. Apasionado por crear experiencias web atractivas y funcionales que fusionan la elegancia del diseño con la eficiencia del código.</p>
        <button class="button-cv">Descarga CV</button>
    </div>

</section>
