
.section-profile{
  width: 100%;
  height: 100vh;
  color: #FFFF;
  display: flex;
  flex-direction: row;
  background-color: #27323E;
  justify-items: center;
  align-items: center;
}


 .information{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3%;
  width: 100%;
  height: 35%;
  padding-left: 13%;
}

.information .tittle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 45%;
  gap: 15%; 
}

.tittle .name{
  /*   width: 580px;*/
    height: 50%;
    font-size: 3.0rem; 
  }
  
  .tittle .description{
    height: 30%;
    font-size: 1.0rem;
  }

.information .inf{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3%;
  width: 100%;

}

.information .inf .container-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #FFFF;
  border-radius: 50%;
  cursor: pointer;
}

.information .inf .container-logo img{
  width: 55%;
  aspect-ratio: 1/1;
}


.information .button{
  width: 20%;
  height: 15%;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to right, #FC4A1A, #F7B733);
  color: #FFFF;
  font-size: 100%;
  margin-top: 2%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.information .button:hover {
  opacity: 0.8;
  background-color: aliceblue;
}


.section-profile .img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 5%;
  
}

.section-profile .img img{
  width: 50%;
  aspect-ratio: 3/4;
  border-radius: 30%;
}


@media (max-width: 768px) {
  .section-profile {
   /*  grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .section-profile .information{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;

  }

  .tittle .name{
    /*   width: 580px;*/
      height: 30%;
      font-size: 2.5rem; 
    }
    
    .tittle .description{
      
      height: 30%;
      font-size: 1.4rem;
    }

  .section-profile .img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: auto; */
    margin-bottom: 15%;
    height: 50%;
  }

  .information .button{
    width: 30%;
    height: 10%;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #FC4A1A, #F7B733);
    color: #FFFF;
    font-size: 100%;
    margin-top: 2%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

} 
